.gitattributes  export-ignore
.gitignore      export-ignore

[filter "test"]
    clean = expand --initial -t 4
    smudge = expand --initial -t 4
    required
[merge]
    renormalize = true

*.py filter=test

*.jpg           binary
*.png           binary
*.gif           binary
*.pyc          binary


