.gitattributes  export-ignore
.gitignore      export-ignore


*.py            whitespace=tab-in-indent,tabwidth=4


*.jpg           binary
*.png           binary
*.gif           binary
*.pyc          binary


